.paper-photo {
    --x: 0,
    --y:-0;
    --z: 50px;
    transform: perspective(500px) translate3d(var(--x), var(--y), var(--z)) scale(.5);
    box-shadow: 0 70px 40px -20px rgba(168, 85, 85, 0.2);
    transition:  transform 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    display: inline;
    width: min-content;
    height: min-content;
    &:hover {
        transform: translate3d(var(--x),var(--y), 1250px) scale(1);
    }
}