.eye-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.eye {
  --eye-size: 80px;
  --eye-color: #ffffff;
  width: var(--eye-size);
  height: var(--eye-size);
  background-color: var(--eye-color);
  border-radius: 50%;
  position: relative;
  border: 0.75em solid #33b658;
  transform: translate(0, 0);
  z-index: 9999;
}

.eye-lid {
  background-color: #5f5f5f;
  position: absolute;
  width: 100%;
  height: calc(var(--eye-size) / 2);
  transition: height 0.3s ease-in-out;
  z-index: 2;
}

.left-eye {
  margin-right: 20px;
  z-index: 1;
}

.right-eye {
  margin-left: 20px;
  z-index: 1;
}

.left-eye-lid,
.right-eye-lid {
  top: 0;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.left-eye-lid.open,
.right-eye-lid.open {
  height: 0;
}

.left-eye-lid.close,
.right-eye-lid.close {
  height: 50%;
}

.glasses-bridge {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 10px;
  background-color: #000;
  z-index: -9999;
}

.pupil {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set a lower z-index to position it behind eye-container */
  box-shadow: inset 0 0 0 0.25em white, inset 0 0 0 0.5em rgb(69, 26, 26),
    inset 0 0 0 0.75em rgb(161, 35, 35), 0 0 0px 0.85em black;
  content: "";
  display: block;
  z-index: -9999;
}
