.glitch-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.glitch-1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    animation: shift 4s ease-in-out infinite reverse;
    transform: skewX(0deg);
    z-index: 1;
    content: attr(data-text);
}

@keyframes shift {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(35deg) skewY(10deg);
    }

    60% {
        transform: skewX(-35deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) skewY(-5deg);
    }

    70% {
        transform: skewX(-30deg) skewY(-20deg);
    }

    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}

.glitch-2 {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    animation: shift 4s ease-in-out infinite reverse;
    transform: skewX(0deg);
    z-index: 1;
}

.glitch-2:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -3px;
    width: 100%;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch-2:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 3px;
    width: 100%;
    color: 50px;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
}


@keyframes noise-before {
    0% {
        clip: rect(61px, 9999px, 52px, 0);
        background-color: pink;
    }

    5% {
        clip: rect(33px, 9999px, 144px, 0);
    }

    10% {
        clip: rect(121px, 9999px, 115px, 0);
    }

    15% {
        clip: rect(144px, 9999px, 162px, 0);
    }

    20% {
        clip: rect(62px, 9999px, 180px, 0);
    }

    25% {
        clip: rect(34px, 9999px, 42px, 0);
    }

    30% {
        clip: rect(147px, 9999px, 179px, 0);
    }

    35% {
        clip: rect(99px, 9999px, 63px, 0);
    }

    40% {
        clip: rect(188px, 9999px, 122px, 0);
    }

    45% {
        clip: rect(154px, 9999px, 14px, 0);
    }

    50% {
        clip: rect(63px, 9999px, 37px, 0);
    }

    55% {
        clip: rect(161px, 9999px, 147px, 0);
    }

    60% {
        clip: rect(109px, 9999px, 175px, 0);
    }

    65% {
        clip: rect(157px, 9999px, 88px, 0);
    }

    70% {
        clip: rect(173px, 9999px, 131px, 0);
    }

    75% {
        clip: rect(62px, 9999px, 70px, 0);
    }

    80% {
        clip: rect(24px, 9999px, 153px, 0);
    }

    85% {
        clip: rect(138px, 9999px, 40px, 0);
    }

    90% {
        clip: rect(79px, 9999px, 136px, 0);
    }

    95% {
        clip: rect(25px, 9999px, 34px, 0);
    }

    100% {
        clip: rect(173px, 9999px, 166px, 0);
    }
}