.clearfix:before:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.drop-caps {
  font-family: Century;
  font-size: calc(var(--typo-font-size));
  line-height: var(--line-height);
}

.drop-caps::first-letter {
  font-size: 1.5em;
  height: var(--line-height);
  width: var(--line-height);
  line-height: var(--line-height);
}