

.drop-caps {
  display: inline-block;
  --line-height: 80px;
  font-family:Impact, Haettenschweiler, sans-serif;
  line-height: var(--line-height);
}

.drop-caps::first-letter {
  height: var(--line-height);
  font-size: calc(var(--line-height));
}

.fluid-type {
  font-size: clamp(1rem, 8vw - 2rem, 3rem);
}