:root {
    /* CSS HEX */
    --aquamarine: #21EEBFff;
    --mint: #08C182ff;
    --moonstone: #20B2C2ff;
    --turquoise: #20E5BFff;
    --mint-2: #02AF7Fff;

    /* CSS HSL */
    --aquamarine-hsl: hsla(166, 86%, 53%, 1);
    --mint-hsl: hsla(160, 92%, 39%, 1);
    --moonstone-hsl: hsla(186, 72%, 44%, 1);
    --turquoise-hsl: hsla(168, 79%, 51%, 1);
    --mint-2-hsl: hsla(163, 98%, 35%, 1);

}

