*,
*::before,
*::after {
  box-sizing: border-box;
}



h1 {
  font-size: 3vmax;
}

p {
  font-size: 1vmax;
}



.scene-1 {
  background-image: url(https://picsum.photos/id/1044/1920/1080);
  background-size: cover;
  background-repeat: no-repeat;
}

.scene-2,
.scene-3 {
  position: relative;
  background-image: url(http://www.prowaretech.com/img/beach.png), url(http://www.prowaretech.com/img/mountain.png), url(http://www.prowaretech.com/img/moon.png), url(http://www.prowaretech.com/img/stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.scene-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: slategray;
  mix-blend-mode: color;
}